<% layout('layouts/boilerplate')%>

    <div class="row col-md-12">
        <h1 class="text-center"> Add New Trail </h1>
        <form action='/trails' method="POST" novalidate class="validated" enctype="multipart/form-data">
            <div class="col-6 offset-3 mb-3">
                <label class="form-label" for="title"> Enter trail name </label>
                <input type="text" class="form-control" name="title" id="title" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="col-6 offset-3 mb-3">
                <label class="form-label" for="location"> Enter state </label>
                <input type="text" class="form-control" name="location" id="location" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            
            <div class="col-6 offset-3 mb-3">
                <label class="form-label" for="distance"> Enter distance in miles </label>
                <input type="text" class="form-control" name="distance" id="distance" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="col-6 offset-3 mb-3">
                <label class="form-label" for="difficulty"> Select difficulty </label>
                <select name="difficulty" class="form-control" id="difficulty" required>
                    <% for (let diff of difficulty) { %>
                        <option value="<%=diff%>">
                            <%= diff %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="col-6 offset-3 mb-3 ">
                <label for="image" class="form-label"> Upload Image(s) </label>
                <input type="file" class="form-control" name="image" id="image" multiple>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <button class="btn btn-success col-2 offset-3 mb-3"> Add trail </button>
        </form>

        <a href="/trails" class="offset-3 mb-5"> Return to all trails </a>
    </div>
