<% layout('layouts/boilerplate')%>

    <div class="row">
        <%- include('../partials/flash') %>
        <h1 class="text-center"> Add New Trail </h1>
        <div class="col-md-6 offset-md-3 my-3 col-xl-4 offset-xl-4">
        <form action='/trails' method="POST" novalidate class="validated" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title"> Enter trail name </label>
                <input type="text" class="form-control" name="title" id="title" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location"> Enter state </label>
                <input type="text" class="form-control" name="location" id="location" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="distance"> Enter distance in miles </label>
                <input type="text" class="form-control" name="distance" id="distance" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="difficulty"> Select difficulty </label>
                <select name="difficulty" class="form-control" id="difficulty" required>
                    <% for (let diff of difficulty) { %>
                        <option value="<%=diff%>">
                            <%= diff %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"> Upload Image(s) </label>
                <input type="file" class="form-control" name="image" id="image" multiple>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <button class="btn btn-success"> Add trail </button>
        </form>
    </div>

        <a href="/trails" class="offset-md-3 offset-xl-4 mb-4"> Return to all trails </a>
    </div>
